* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Helvetica, Arial, sans-serif;
}
#main {
}
#header {
  height: 46px;
  background-color: #000;
}

#slider {
}
#content {
}
#footer {
}
#nav {
  display: inline-block;
}
.subnav li {
  display: block;
}
#nav li {
  position: relative;
}
#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}
#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0px 24px;
  display: block;
}
#nav .subnav li:hover a,
#nav > li:hover > a {
  color: #000;
  background-color: #ccc;
}
#nav li:hover a {
}
#nav,
.subnav {
  list-style-type: none;
}
#nav .subnav a {
  color: #000;
  padding: 0 12px;
  line-height: 38px;
}
#nav > li {
  display: inline-block;
}
#nav li:hover .subnav {
  display: block;
}
#nav .subnav {
  display: none;
  min-width: 160px;
  top: 100%;
  left: 0;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav .nav-arrow-down {
  font-size: 14px;
}
#header .search-btn {
  float: right;
  padding: 0 21px;
  cursor: pointer;
}
#header .search-icon {
  color: #fff;
  font-size: 20px;
  line-height: 46px;
  /* background-color: #ccc; */
}
#header .search-btn:hover {
  background-color: #f44336;
}
